{% extends 'base.html' %}
{% block content %}

  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" >
    <div class="hero-container" data-aos="fade-in">
      <h1>Bonjour {{user}} </h1><br>
      <p><span class="typed" data-typed-items="Are you looking for something ?, Others need help ! ,Don't wait scroll down,have ... donate now , don't wait ..."></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <a href="{% url 'user:myallposts' %}"> <h1 class="my-posts"> My posts </h1></a>
        </div>
        <form method="POST" class="form-inline d-flex justify-content-center md-form form-sm active-purple active-purple-2 mt-2">
          {% csrf_token %}
          <p>
          <select class="ml-10" style="margin-top: 16px;background-color: wheat;" id="choice" name="choice">
            <option value="requests">request</option>
            <option value="donations">donation</option>
          </select>
          </p>
          <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-sm ml-3 w-50" type="text" placeholder="Search"
            aria-label="Search" name="search1">
        </form>
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title"> Requests </h3>

            {% for post in requests %}
            <div class="resume-item pb-0">
              <img class="small-photo" src="{{ post.author.profile.image.url }}" alt="profile-photo">
              <h4 class="profile-name"> {{post.author.username}} </h4>
              
              <p class="p">
                {{ post.post_date}} | {{post.current_place|title}} <br>
                Object :{{ post.title }} <br>
                <em> {{ post.content }} </em>
               <a href="{% url 'user:detail' post.slug_title post.id %}"> <h5> More details </h5></a>
                
              <p>
            </div>
            {% endfor %}
            
          </div>

          <!----- Donations -------->
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title"> Donations </h3>
              {% for post in donations %}
              <div class="resume-item pb-0">
              <img class="small-photo" src="{{ post.author.profile.image.url }}" alt="profile-photo">
              <h4 class="profile-name"> {{post.author.username}} </h4>
              
              <p class="p">
                {{ post.post_date}} | {{post.current_place|title}} <br>
                Object :{{ post.title }} <br>
                <em> {{ post.content }} </em>
               <a href="{% url 'user:detail' post.slug_title  post.id %}"> <h5> More details </h5></a>
                
              <p>
            
           
            </div>
            {% endfor %}
            
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->


  </main><!-- End #main -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->




{% endblock %}
    