{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>MedicaShare</title>
    <meta name="google-site-verification" content="bRdQN14v7GvGFkbTLx-KmzTHy-rB2GHMi691BCq6LuU" />

    <meta name="description" content="MedicaShare, site de partage des médicaments! Vous avez besoin d'un médicament? MedicaShare vous aide à le demander" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="MedicaShare" />
    <meta property="og:site_name" content="MedicaShare" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">


    <!-- Icons -->
    <link rel="shortcut icon" href="{% static 'img/ico/favicon.ico' %}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'homeSt/css/style.min.css' %}">

</head>

<body>
    <header>
        <nav>
            <div class="btn-menu">
                <div class="ico-menu">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>

            <img src="{% static 'homeSt/img/0.jpg' %}" alt="MedicaShare Logo">

            <ul class="main-nav">
                <li><a class="active" href="#top">Home</a></li>
                <li><a href="#services">Services</a></li>
                
                <li><a href="#portfolio">Team</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main id="top">

        <div class="overlay">
            <div class="overlay-content">
                <ul>
                    <li><a class="overlay-link" href="#top">Home</a><i class="fa fa-angle-right"></i></li>
                    <li><a class="overlay-link" href="#services">Services</a><i class="fa fa-angle-right"></i></li>
                    <li><a class="overlay-link" href="#Team">Team</a><i class="fa fa-angle-right"></i></li>
                    <li><a class="overlay-link" href="#contact">Contact</a><i class="fa fa-angle-right"></i></li>
                </ul>
            </div>
        </div>

        <!--/ Slider-->
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="{% static 'homeSt/img/slider/bg1.jpg' %}" alt="slider image girl" style="width:100%">
                <div class="slideshow-container__text">
                    <h1 class="margin-bottom-small"><span>Be Merciful</span> : “ We only have what we give.”</h1>
                    <p class="margin-bottom-small">There is nothing more beautiful than someone who goes out of their way to make life beautiful for others</p>
                    <a href="#services" class="btn btn--blue btn--large btn--animated">Plus d'infos</a><br/><br/><br/><br/>
                
                
                    <!--LogIn/Join-->
                   <div >
                       <a class="btn btn--blue btn--large btn--animated" href="{% url 'user:login' %}">Log In</a> 
                       <a class="btn btn--blue btn--large btn--animated" href="{% url 'user:register' %}">Join Us</a>
                   </div>
                </div>
                
            </div>
            <div class="mySlides fade">
                <img src="{% static 'homeSt/img/slider/bg2.jpg' %}" alt="slider image boy" style="width:100%">
                <div class="slideshow-container__text">
                    <h1 class="margin-bottom-small"><span>Where mercy is shown, mercy is given</span> : </h1>
                    <p class="margin-bottom-small">We don't want to live in the kind of world where we don't look out for each other.
                         Not just the people that are close to us, but anybody who needs a helping hand.We can't change 
                         the way anybody else thinks,or what they choose to do, but we can do our bit</p>
                    <a href="#contact" class="btn btn--blue btn--large btn--animated">DON’T HESITATE TO CONTACT US FOR ANY KIND OF INFORMATION</a>
                </div>
            </div>
            <!-- Next and previous buttons -->
            <a class="prev"><i class="fa fa-angle-left"></i></a>
            <a class="next"><i class="fa fa-angle-right"></i></a>
        </div>
        <!--/ End Slider-->

        <!--/Services section -->
        <section id="services" class="services">
            <div class="text-center">
                <h2 class="heading-secondary heading-secondary__animated">OUR SERVICES</h2>
            </div>
            <div class="heading__border">
                <span class="heading__border__outer__line"></span>
                <span class="fa fa-circle" aria-hidden="true" style="margin:10px 0"></span>
                <span class="heading__border__outer__line"></span>
            </div>
            <p class="width-50 text-center m-0-auto margin-bottom-big">Do you want a social site that will allow you to ask for a medications ?
                 or a non-commercial site to donate your medications that you no longer need ? MedicaShare helps you to achieve all of this.</p>
            <div class="container">
                <div class="services-cols">
                    <div class="services-cols__primary">
                        <img class="responsive-image" src="{% static 'homeSt/img/2.jpg' %}" alt="main feature image">
                    </div>
                    <!--/.primary-->

                    <div class="services-cols__secondary">
                        <div class="services__box margin-bottom-small ">
                            <i class="fa fa-child" style="font-size:38px"></i>
                            <div class="services__box__text">
                                <h3 class="heading-tertiary">Request</h3>
                                <p>Often , people need a specific medication. But sometimes they may not find it in the pharmacy , 
                                    or they may not have enough money to buy it.
                                    With "MedicaShare" you can request the medication and resolve your problem in a short time.</p>
                            </div>

                        </div>
                        <div class="services__box margin-bottom-small ">
                            <i class="fa fa-handshake-o" style="font-size:38px" ></i>
                            <div class="services__box__text">
                                <h3 class="heading-tertiary">Donate</h3>
                                <p>Lots of people have medication that they don't use it .With "MedicaShare" you can donate 
                                    this medications to the people who needs it and solve thier problem.
                                    <br/>
                                    “I cannot do all the good that the world needs. But the world needs all the good that I can do.”
                                    </p>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <br/>
                <p>The purpose of life is not to be happy. It is to be useful, to be honorable, to be compassionate,
                     to have it make some difference that you have lived and lived well
                     It is at times such as this that we show our true spirit of giving and of mercy of revealing the good Samaritan in all of us. </p>
             </div>

            <!--/.secondary-->
        </section>
        <!--/ end services section-->

        <!--/team section -->
        <section id="portfolio" class="portfolio">
            <div class="text-center">
                <h2 class="heading-secondary">Our Team</h2>
            </div>
            <div class="heading__border">
                <span class="heading__border__outer__line"></span>
                <span class="fa fa-circle" aria-hidden="true" style="margin:10px 0"></span>
                <span class="heading__border__outer__line"></span>
            </div>
            <p class="width-50 text-center m-0-auto margin-bottom-big">Discover our Team! !</p>

            <div class="portfolio__toolbar">
                <button class="btn portfolio-btn-active" data-filter="*">All Team</button>
                <button class="btn" data-filter="sarra">Sarra ISMAIL</button>
                <button class="btn" data-filter="hamdi">Hamdi HASSEN</button>
                <button class="btn" data-filter="hamza">Hamza ABDOULI</button>
                <button class="btn" data-filter="nouha">Nouha MNASSER</button>
            </div>


            <div class="container">
                <div class="grid">
                    <div class="grid-item" data-filter="sarra">
                        <div class="imageholder">
                            <img class="responsive-image grid-item__image" src="{% static 'homeSt/img/portfolio/m1.jpg'%}" alt="Sarra Ismail img">
                            <div class="grid-item__middle-container">
                                <div class="grid-item__text">
                                    <a>
                                        <h3 class="profil">Web Developer</h3>
                                        <p>Sarra Ismail</p><i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    
                    <div class="grid-item" data-filter="hamdi">
                        <div class="imageholder">
                            <img class="responsive-image grid-item__image" src="{% static 'homeSt/img/portfolio/m1.jpg'%}" alt="Hamdi Hassen Img">
                            <div class="grid-item__middle-container">
                                <div class="grid-item__text">
                                    <a>
                                        <h3 class="portfolio-heading">Web Developer</h3>
                                        <p>Hamdi Hassen</p><i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="grid-item" data-filter="hamza">
                        <div class="imageholder">
                            <img class="responsive-image grid-item__image" src="{% static 'homeSt/img/portfolio/m1.jpg'%}" alt="Hamza Abdouli Img">
                            <div class="grid-item__middle-container">
                                <div class="grid-item__text">
                                    <a>
                                        <h3 class="portfolio-heading">Web Developer</h3>
                                        <p>Hamza ABDOULI</p><i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="grid-item" data-filter="nouha ">
                        <div class="imageholder">
                            <img class="responsive-image grid-item__image" src="{% static 'homeSt/img/portfolio/m1.jpg'%}" alt="Nouha Mnasser Img">
                            <div class="grid-item__middle-container">
                                <div class="grid-item__text">
                                    <a>
                                        <h3 class="portfolio-heading">Web Developer</h3>
                                        <p>Nouha MNASSER</p><i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--/ end team section-->

        <section id="contact">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.2157873757014!2d2.3476302508269633!3d48.873162779187325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e145cb52f15%3A0x4d3ec41b2cadff0!2s25+Rue+d&#39;Hauteville%2C+75010+Paris!5e0!3m2!1sen!2sfr!4v1522928094499"></iframe>
            <div class="container">
                <form id="contact-form">
                    <div class="heading">
                        <h3 class="heading-tertiary">Contact Info</h3>
                        <address>
                        <p>MedicaShare </p>
                        <p>xx Rue d'******** yyyy Sousse,Tunisie</p>
                        <p>Tel : 01 02 03 04 </p>
                        </address>
                    </div>
                    <input type="text" id="firstname" name="firstname" placeholder="Name">
                    <input type="text" id="email" name="email" placeholder="Email">
                    <input type="text" id="subject" name="subject" placeholder="Subject">
                    <textarea id="message" name="message" placeholder="Message" rows="6"></textarea>
                    <input type="submit" class="btn btn--blue btn--small btn--bottom-border--darkblue" value="Send Message">
                </form>
            </div>
        </section>

        <footer id="footer" class="main-footer">
            <span>&copy;2020 BeMerciful.</span>
        </footer>

        <button id="return-to-top-btn" title="Go to top"><i class="fa fa-arrow-up"></i></button>

    </main>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="{% static 'homeSt/js/masonry-plus.js' %}"></script>
    <script src="{% static 'homeSt/js/style.js' %}"></script>






</body>

</html>
